<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Friends</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InterestShowServlet</display-name>
    <servlet-name>InterestShowServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.InterestShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterestShowServlet</servlet-name>
    <url-pattern>/InterestShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityShowServlet</display-name>
    <servlet-name>ActivityShowServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.ActivityShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActivityServlet</display-name>
    <servlet-name>AddActivityServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.AddActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActivityServlet</servlet-name>
    <url-pattern>/AddActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPerInterestServlet</display-name>
    <servlet-name>SetPerInterestServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.SetPerInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPerInterestServlet</servlet-name>
    <url-pattern>/SetPerInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectActivityServlet</display-name>
    <servlet-name>SelectActivityServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.SelectActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectActivityServlet</servlet-name>
    <url-pattern>/SelectActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarShowServlet</display-name>
    <servlet-name>CalendarShowServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.CalendarShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarShowServlet</servlet-name>
    <url-pattern>/CalendarShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuessLikeServlet</display-name>
    <servlet-name>GuessLikeServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.GuessLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuessLikeServlet</servlet-name>
    <url-pattern>/GuessLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFriendsServlet</display-name>
    <servlet-name>MyFriendsServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.MyFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFriendsServlet</servlet-name>
    <url-pattern>/MyFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAttendJudgeServlet</display-name>
    <servlet-name>UserAttendJudgeServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserAttendJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAttendJudgeServlet</servlet-name>
    <url-pattern>/UserAttendJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAttendServlet</display-name>
    <servlet-name>UserAttendServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAttendServlet</servlet-name>
    <url-pattern>/UserAttendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageNotifyServlet</display-name>
    <servlet-name>MessageNotifyServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.MessageNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageNotifyServlet</servlet-name>
    <url-pattern>/MessageNotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCancelServlet</display-name>
    <servlet-name>UserCancelServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.UserCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCancelServlet</servlet-name>
    <url-pattern>/UserCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriendsServlet</display-name>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.DeleteFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <url-pattern>/DeleteFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFriendsServlet</display-name>
    <servlet-name>SelectFriendsServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.SelectFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFriendsServlet</servlet-name>
    <url-pattern>/SelectFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowFriendsServlet</display-name>
    <servlet-name>FollowFriendsServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.FollowFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowFriendsServlet</servlet-name>
    <url-pattern>/FollowFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatRecordServlet</display-name>
    <servlet-name>GetChatRecordServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.GetChatRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatRecordServlet</servlet-name>
    <url-pattern>/GetChatRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityServiceImpl</display-name>
    <servlet-name>ActivityServiceImpl</servlet-name>
    <servlet-class>com.nkcs.servlet.ActivityServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServiceImpl</servlet-name>
    <url-pattern>/ActivityServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatRoomServlet</display-name>
    <servlet-name>ChatRoomServlet</servlet-name>
    <servlet-class>com.nkcs.servlet.ChatRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomServlet</servlet-name>
    <url-pattern>/ChatRoomServlet</url-pattern>
  </servlet-mapping>
</web-app>